<div>
  <div>
    <h1><%= @user.photo %></h1>
  </div>
  <div>
    <div>
      <h4><%= @user.name %></h4>
    </div>
    <div>
      <p>Number of post: <%= @user.posts_counter%></p>
    </div>
  </div>
</div>

<% if @user.bio.present? %>
	<div>
    <h5>Bio</h5>
    <p><%= @user.bio %></p>
  </div>
<% end %>

<%= render partial: 'posts/post', collection: @post %>
<%= link_to "See all post", user_posts_path(@user.id) %>