<div class = 'user-posts'>
  <div>
    <h3>Post #<%= post.id %> - <%= post.title %></h3>
  </div>
  <div>
    <p><%= post.text %></p>
    <p> <%= render partial: "posts/total_comments", locals: { total_comments: post.comments.size }%>, 
      <%= render partial: "posts/total_likes", locals: { total_likes: post.likes.size } %>
    </p>
  </div>
</div>