<div class = 'user-posts'>
  <div>
    <h3>Post #<%= post.id %> - <%= post.title %></h3>
  </div>
  <div>
    <p><%= post.text %></p>
    <p> Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter%></p>
  </div>
</div>