<section class = 'user-section'>
  <div class  = 'user-image'>
    <h1><%= @user.photo %></h1>
  </div>
  <div class = 'user-content'>
    <div>
      <h2><%= @user.name %></h2>
    </div>
    <div>
      <p class = 'post-num'>Number of posts: <%= @user.posts_counter%></p>
    </div>
  </div>
</section>

<% @posts.each do |post|%>
  <div class = 'user-posts'>
    <div>
      <h3>Post <%= post.id %></h3>
    </div>
    <div>
      <p><%= post.text %></p>
      <p> Comments: <%=post.comments_counter %>, Likes: <%= post.likes_counter%></p>
    </div>
  </div>
  <div class = 'comments'>
    <h4><%= @user.name %>: Comment 1</h4>
    <h4><%= @user.name %>: Comment 2</h4>
    <h4><%= @user.name %>: Comment 3</h4>
    <h4><%= @user.name %>: Comment 4</h4>
    <h4><%= @user.name %>: Comment 5</h4>
  </div>
<% end %>

<div class = 'pagination'>
  <button type="submit" >Pagination</button>
</div>