<div class = 'show-posts'>
  <div class = 'posts-header'>
    <div>
      <h2>Post <%= @post.id %> by <%= @user.name%></h2>
    </div>
    <div>
      <p> Comments: <%=@post.comments_counter %>, Likes: <%= @post.likes_counter%></p>
    </div>
  </div>
  <p><%= @post.text %></p>
</div>

<div class = 'comments'>
  <h4><%= @user.name %>: Comment 1</h4>
  <h4><%= @user.name %>: Comment 2</h4>
  <h4><%= @user.name %>: Comment 3</h4>
  <h4><%= @user.name %>: Comment 4</h4>
  <h4><%= @user.name %>: Comment 5</h4>
  <h4><%= @user.name %>: Comment 6</h4>
  <h4><%= @user.name %>: Comment 7</h4>
  <h4><%= @user.name %>: Comment 8</h4>
  <h4><%= @user.name %>: Comment 9</h4>
  <h4><%= @user.name %>: Comment 10</h4>
</div>
